.App {
  text-align: center;
  background-color: lightgrey;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-form {
  margin-top: 5%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  float: right;
  width: 40%;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  padding: 50px 0px;
  width: 40%;
  margin-left: 30%;
  transform: translate(0, 50%);
}

.form-line {
  display: block;
  padding: 7px;
}

.login-button {
  margin: 10px;
}

.add-exercise {
  width: 100%;
  padding: 0 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Add-split {
  margin-top: 5%;
}

.Split-day {
  padding: 20px;
  font-size: 20px;
}

.Split-name {
  padding: 20px;
  display: block;
  font-size: 25px;
}


.Creator-button {
  display: block;
  margin: auto;
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  font-size: 25px;
}

.workout-list {
  margin-top: 5%;
}

.content {
  margin-top: 2.5%;
}

.upper-right {
  position: fixed;
  right: 0;
  top: 0;
  font-size: calc(10px + 2vmin);
  margin: 0.5%;
}

.home-button {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0.5%;
}

.title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
  
.table-elem > * {
  border: 1px solid black;
}
  
tbody {
  text-align: center;
}

.exercise-item {
  list-style: none;
  display: grid;
  align-items: center;
  padding: 0;
}

.exercise-num{
  display: flex;
  align-items: center;
}